/*
 * style sheet for the alohatravel project
 * Author: Toby Ziegler
 * Author url: http://tobyziegler.com
 */

body {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    /* background: url('../images/planeneargate.jpg'); */
    /* photo courtesy https://pixabay.com/en/plane-aircraft-airport-jet-3107132/ */
    /* position: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.textbox {
    /* width: 80%; */
    padding: 5%;
    border-radius: 1rem;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .7);
}

pre {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.choiceicon {
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
    fill: white;
    margin: 0.5rem 1rem 1rem 0;
    padding: 0.5rem;
    background: green;
}
input.ng-invalid {
    border: 2px solid red;
  }
  
  input.ng-valid.ng-touched {
    border: 2px solid green;
  }
  
  .ng-invalid .btn {
    background: gray;
  }
  
  .error {
    color: red;
    padding-bottom: 10px;
  }
<<<<<<< HEAD
  
  .checked {
      color: white;
      font-weight: bold;
      background: green;
=======

  .choicenotchecked {
      color: inherit;
  }
  
  .choicechecked {
      color: green;
      font-weight: bold;
      background-color: lightgreen;
>>>>>>> 4aa3714d4bc57da5620f8a38ac4e8de4a749ce1e
  }