/*
 * style sheet for the alohatravel project
 * Author: Toby Ziegler
 * Author url: http://tobyziegler.com
 */

body {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    /* background: url('../images/planeneargate.jpg'); */
    /* position: fixed; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.textbox {
    /* width: 80%; */
    padding: 5%;
    border-radius: 1rem;
    background: rgba(240, 230, 220, .5);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .7);
}

.parallax {
    height: 500px;
    /* fallback for older browsers */
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-perspective: 300px;
    perspective: 300px;
    background-image: url('../images/planeneargate.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxpart {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallaxlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.frontitem {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.photoback {
    position: fixed;
    background: url('../images/planeneargate.jpg');
    /* photo courtesy https://pixabay.com/en/plane-aircraft-airport-jet-3107132/ */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 4;
}